
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: '0utfit',sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(212, 45%, 89%);
    text-align: center;
}

.main-container{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    max-width: 270px;
    height: auto;
    background-color: white;
    border-radius: 15px;
}


img{
    border-radius: 13px;
}

h1{
    font-size: 1.125rem;
    margin-top:1rem ;
    margin-bottom: 1rem;
    color: hsl(218, 44%, 22%);
}
p{
    font-size: 0.9375rem;
    padding-bottom: 2rem;
    color:hsl(220, 15%, 55%);
}

div{
    display: flex;
    align-items: flex-end;
}
